*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: var(--main-font);
  background: var(--bg-color);
  color: var(--text-color)
}

p,
h1,
h2,
h3,
blockquote,
body,
ul,
ol,
li,
figure {
  margin: 0;
}

button {
  border: 0;
  background: none;
  padding: 0;
}

:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --currentColor: #312A4E;
  --accent-color: #FFAB6B;

  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --currentColor: #312A4E;
  --accent-color: #171717;
}

.content {
  min-inline-size: 360px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5vi;
}

.heading {
  padding: 7% 0 3%;
  font-family: var(--accent-font);
  font-size: 30px;
  text-align: center;
  line-height: 90%;
}

.header {
  color: var(--text-color);
}

.header__title {
  padding-top: 10%;
  padding-bottom: 2.5rem;
  font-family: var(--accent-font);
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__logo {
  color: var(--text-color);
}

.header__logo svg {
  color: var(--text-color);
  fill: currentColor;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5vi;
  border: 1px solid var(--text-color);
  border-left: 0;
  border-right: 0;
}

.header__theme-toggler {
  display: flex;
  gap: 8px;
  height: 100%;
}

.header__theme-button {
  position: relative;
  height: fit-content;
  font-size: 18px;
  line-height: 104%;
  padding: 0 8px;
  color: var(--text-color);
  cursor: pointer;
}

.header__theme-button:focus, .link:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-button:hover, .link {
  text-decoration: underline;
  cursor: pointer;
}

.header__theme-button_type_dark.header__theme-button_is-active {
  background: bottom url(../images/pattern.svg) repeat-x;
}

.content__paragraph {
  width: calc(100% - 1px);
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 1.5%;
}

.content__paragraph:last-child {
  margin-bottom: 0;
}

.content__blockquote {
  width: 75%;
  margin: 2vi auto;
  font-style: italic;
  font-size: 18px;
  line-height: 200%;
}

.content__list {
  padding-left: 24px;
  font-size: 18px;
  line-height: 10px;
}

.content__list-item {
  list-style-type: none;
  padding-bottom: 16px;
}

.content__list-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  right: 10px;
  background: url(../images/marker-light.svg);
}

.theme_dark .content__list-item::before {
  background: none;
  border: 1px solid var(--text-color);
  transform: rotate(45deg);
}

.content__text-block:has(.content__text-block_type_first-lettered)::first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-right: 1px;
  font-size: 30px;
  font-weight: 700;
}

.content__figure {
  position: relative;
  right: 5vi;
  width: calc(100% + 2*5vi);
  margin: 6.5vi 0 6.4vi;
  border-bottom: 1px solid var(--text-color);
}

.content__image {
  width: 100%;
}

.content__picture-caption {
  padding: 1.2rem 0;
  text-align: center;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  aspect-ratio: 4/3;
  margin-top: 7%;
  padding: 1.5rem;
  border: 1px solid var(--text-color);
}

.content__card-title {
  font-family: var(--accent-font);
  font-size: 60px;
  line-height: 90%;
  text-align: center;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after,
.colored-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.1ch;
  display: inline-block;
  width: 100%;
  height: .5ch;
  background-color: var(--accent-color);
  z-index: -1;
}

.footer {
  margin-top: 9%;
  padding: 2.5% 0;
  border-top: 1px solid var(--text-color);
}

.footer__copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.theme_dark .content__text-block:has(.content__text-block_type_first-lettered)::first-letter {
  background: url(../images/pattern.svg);
}

@media(prefers-color-scheme: dark) {
  :root{
    --bg-color: #171717;
    --text-color: #B3B3B3;
    --currentColor: #312A4E;
    --accent-color: #171717;
  }
}

@media(prefers-color-scheme: light) {
  :root{
    --bg-color: #F3EFEC;
    --text-color: #312A4E;
    --currentColor: #312A4E;
    --accent-color: #FFAB6B;
  }
}